# Exclude everything
*/*
*/*/

# Add exceptions

# Directory
!/*/Docs/
!/*/Includes
!/*/include/
!/*/Include/
!/*/Headers/
!/*/Static_Code/
!/*/Sources/
!/*/src/
!/*/inc/
!/*/Project_Settings/
!/*/Generated_Code/

!/*/SAMPLES/*/*
!/*/SAMPLES/*
!/*/SAMPLES

# Extensions
!/*/*.md
!/*/*.txt
!/*/*.pdf
!/*/.cproject
!/*/.project
!/*/*.pe		# Processor Expert