# Exclude everything
*/*
*/*/

# Add exceptions

# Directory
!/*/Docs/
!/*/docs/
!/*/Includes
!/*/include/
!/*/Include/
!/*/Headers/
!/*/Static_Code/
!/*/Sources/
!/*/src/
!/*/inc/
!/*/Project_Settings/
!/*/Generated_Code/

!/SAMPLES/*/*
!/SAMPLES/*
!/SAMPLES

# bin directory
!/bin
!/bin/*

# Extensions
!/*/*.md
!/*/*.txt
!/*/*.pdf
!/*/.cproject
!/*/.project
!/*/*.pe		# Processor Expert